<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {% block title %}
        {% endblock %} | WCC
    </title>
    <link href="./static/css/styles.css" rel="stylesheet">
</head>




<body>
    <div class="min-h-screen max-w-6xl mx-auto flex flex-col justify-between items-center">
        <!-- NAVBAR -->
        {% include './common/nav.html' %}

        <!-- content -->
        {% block content %}

        <!-- content for different pages here -->

        {% endblock content %}


        <!-- FOOTER -->
        {# {% include './common/footer.html' %}#}
    </div>
    <script src="./static/js/script.js"></script>
    <!-- JS SCRIPT -->
    {% block script %}
    {% endblock script %}
</body>

</html>