<nav class="flex justify-between items-center px-8 py-6 w-full">
  <div class="text-lg font-bold text-indigo-500">
    <a href="/">
      <h2>Website Category Classifier</h2>
    </a>
  </div>
  <ul class="flex gap-8">
    <li>
      <a href="#statistics"
        class="text-base text-slate-900 font-medium hover:underline-offset-4 hover:underline">Statistics</a>
    </li>
    <li>
      <a href="/prediction"
        class="text-base text-slate-900 font-medium hover:underline-offset-4 hover:underline">Prediction</a>
    </li>
    <li>
      <a href="/team" class="text-base text-slate-900 font-medium hover:underline-offset-4 hover:underline">Teams</a>
    </li>
  </ul>
</nav>